# Python
__pycache__/
*.py[cod]
*.so
venv/
*.egg-info/

# PyTorch
*.pt
*.pth
*.ckpt

# Checkpoints
checkpoints/
logs/
*.log

# Datasets
datasets/
data/

# Results
evaluation_results/
*.png

# IDE
.vscode/
.idea/

# OS
.DS_Store
